<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-consent-diag-heading" jhiTranslate="patientConsentApp.consentDiag.home.createOrEditLabel">Create or edit a Consent Diag</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="patientConsentApp.consentDiag.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="patientConsentApp.consentDiag.icd" for="field_icd">Icd</label>
                    <select class="form-control" id="field_icd" name="icd" formControlName="icd">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="icdMastOption.id === editForm.get('icd').value?.id ? editForm.get('icd').value : icdMastOption" *ngFor="let icdMastOption of icds; trackBy: trackIcdMastById">{{icdMastOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="patientConsentApp.consentDiag.consent" for="field_consent">Consent</label>
                    <select class="form-control" id="field_consent" name="consent" formControlName="consent">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="consentOption.id === editForm.get('consent').value?.id ? editForm.get('consent').value : consentOption" *ngFor="let consentOption of consents; trackBy: trackConsentById">{{consentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
